body {
    background-image: url("img/landscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
p {
text-align: justify-all;
    letter-spacing: 2.5px;
    line-height: 1.5;
    color: white;
    text-shadow: 2px 1px black;
    font-size: 20px;

}

h1 {
    font-family: "Trebuchet MS";
    font-size: 60px;
    text-shadow: 3px 1px lavenderblush;
    
}




/* Vertical Navigation bar */
ul{
    border: 1px solid black;
    list-style-type: none;
    margin: 0 10px;
    Padding: 0px;
    width: 200px;
    background-image: linear-gradient(saddlebrown,salmon,sandybrown,sienna);
}
li{
    display: inline-block;
    border-bottom: 1px solid black

}
li a{
    display: block;
    color: black;
    padding: 60px 16px;
    text-decoration: none;

}

/* Change link color to black on hover */
li a:hover {
    background-color: palevioletred;
    color: white;
    }
.Active {
    background-color: palevioletred;
    color: white;
}
.Name {
text-shadow: 2px 1px blue;
}




